<section>
    <div class="navigation">
      <div>
        <a href="#About">About</a>
        <a href="#Services">Services</a>

      </div>
    </div>
    <div class="logo">
      <img src="./assets/logo/Logo2.png" alt="">
    </div>
    <div class="contact">
      <div>
        <span>
          <div>
            <img src="assets\SVG\phone-rounded.svg" alt="Téléphone">
            <p>:  0606060606</p>
          </div>
          <img src="assets\SVG\facebook.svg" alt="Instagram">
          <img src="assets\SVG\insta.svg" alt="Facebook">
        </span>
      </div>
    </div>
</section>
