<div class="margin-constraint">
  <div class="useful-width">
    <section >
      <div class="first">
        <div>
          <h1>El famoso slogan !</h1>
        </div>
      </div>
      <div class="banner">
        <img src="./assets/content/content1.png" alt="">
      </div>
      <div id="About" class="second">
        <div>
          <h2>Petit pavé pck c bien!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eos fugiat,
            fugit impedit labore maxime nemo praesentium reiciendis suscipit veniam.
            Accusamus asperiores, beatae consectetur cumque.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Alias ducimus earum eius et excepturi illo mollitia rerum sed tempora totam.
          </p>
        </div>
      </div>
      <div  class="third">
        <div class="left">
          <h3>Le pavé sur la Emma</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Assumenda autem consequuntur corporis delectus dolor
            eveniet excepturi ipsam iste iusto magni molestias nam
            natus neque nisi nobis nostrum odio odit optio quis, recusandae
            reiciendis rem rerum sapiente soluta sunt tempora tempore vero.
            Alias facere iure modi odit quidem sunt totam unde!
            consectetur adipisicing elit.
            Assumenda autem consequuntur corporis delectus dolor
            eveniet excepturi ipsam iste iusto.
          </p>
        </div>
        <div class="right">
          <img src="./assets/content/content1.png" alt="Emma jolie">
        </div>
      </div>
      <div id="Services" class="services_container">
        <div class="services">
          <app-service></app-service>
        </div>
      </div>
    </section>
  </div>
</div>
